/* GLOBAL */

.apps-smart{
padding:60px 10%;
background:#0d6efd;
color:white;
min-height:100vh;
}

.smart-content{
font-size:50px;
font-weight:700;
text-align:center;
margin-bottom:50px;
color: white;
}

.smart-image img{
width:510px;
margin-bottom:20px;
animation:float 3s ease-in-out infinite;
border-radius: 20px;
}

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-10px)}
100%{transform:translateY(0)}
}

.smart-content h1{
font-size:42px;
margin-bottom:15px;
font-weight:700;
}

.smart-content p{
color:#cbd5e1;
font-size:18px;
margin-bottom:8px;
}

/* PORTFOLIO SECTION */

.portfolio-section{
background:#020617;
padding:70px 20px;
}

/* GRID */

.portfolio-grid{
max-width:1200px;
margin:auto;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

/* CARD */

.portfolio-card{
background:#0f172a;
padding:35px 25px;
border-radius:14px;
text-align:center;
transition:all .35s ease;
border:1px solid rgba(255,255,255,0.05);
position:relative;
overflow:hidden;
}

/* CARD HOVER */

.portfolio-card:hover{
transform:translateY(-10px) scale(1.02);
box-shadow:0 20px 40px rgba(0,0,0,0.5);
border:1px solid rgba(59,130,246,0.3);
}

/* ICON IMAGE */

.card-icon img{
width:250px;
height:300px;
object-fit:contain;
margin-bottom:18px;
transition:transform .4s ease;
border-radius: 20px;
}


/* TITLE */

.portfolio-card h3{
font-size:20px;
margin-bottom:10px;
color:white;
}

/* DESCRIPTION */

.portfolio-card p{
font-size:15px;
color:#94a3b8;
line-height:1.6;
min-height:60px;
}

/* BUTTON */

.portfolio-card button{
margin-top:18px;
padding:10px 20px;
border:none;
border-radius:6px;
background:linear-gradient(45deg,#3b82f6,#0d6efd);
color:white;
font-weight:600;
cursor:pointer;
transition:all .3s ease;
}

/* BUTTON HOVER */

.portfolio-card button:hover{
transform:translateY(-2px);
box-shadow:0 8px 20px rgba(59,130,246,0.4);
background:linear-gradient(45deg,#2563eb,#0d6efd);
}

/* TABLET */

@media(max-width:992px){

.portfolio-grid{
grid-template-columns:repeat(2,1fr);
gap:25px;
}

.smart-content h1{
font-size:34px;
}

}

/* MOBILE */

@media(max-width:600px){

.apps-smart{
padding:60px 20px;
}

.smart-content h1{
font-size:28px;
}

.smart-content p{
font-size:16px;
}

.portfolio-grid{
grid-template-columns:1fr;
gap:20px;
}

.portfolio-card{
padding:30px 20px;
}

.card-icon img{
width:60px;
height:60px;
}

}