.play-wrapper {
  font-family: "Poppins", sans-serif;
}

/* HERO */

.play-game{
  background: linear-gradient(135deg, #0d6efd, #0056d2);
  color: white;
  padding: 100px 8%;
}

.play-game-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.play-text {
  flex: 1;
}

.play-text h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.play-text h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}

.play-text p {
  font-size: 17px;
  line-height: 1.6;
}

.play-image {
  flex: 1;
  text-align: center;
}

.play-image img {
  width: 200px;
  animation: float 3s ease-in-out infinite;
}

/* FLOAT ANIMATION */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

/* FEATURES */

.play-features {
  padding: 80px 10%;
  text-align: center;
  background: #f8fafc;
}

.play-features h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #0d6efd;
}

.feature-sub {
  margin-bottom: 50px;
  color: #555;
}

.play-feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.play-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.play-card:hover {
  transform: translateY(-8px);
}

.play-icon {
  font-size: 35px;
  color: #0d6efd;
  margin-bottom: 15px;
}

/* NAVIGATION */

.page-navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 60px 0;
  background: #f8fafc;
}

.navio-btn {
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #0d6efd, #0056d2);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navio-btn:hover {
  background: black;
  transform: translateY(-4px);
}

.navio-btn.secondary {
  background: linear-gradient(135deg, #0d6efd, #0d6efd,);
}

.navio-btn.secondary:hover {
  background: #ff6b9d;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .play-text h1 {
    font-size: 32px;
  }

  .play-game-content {
    flex-direction: column;
    text-align: center;
  }

  .play-image img {
    width: 150px;
  }
}